h1 {
    color: black;
}

body {
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}
p.white {
    color: white;
    text-decoration-color: white;
}
text.white {
    color: #fff;
}
p.card {

    padding-left: 50px;
    padding-right: 50px;

}
