h1 {
    color: black;
}

body {
    padding-left: 50px;
    padding-right: 50px;
    background-color: white;
}
p.white {
    color: white;
    text-decoration-color: white;
}
text.white {
    color: #fff;
}
p.card {
    width: 512px;
    height: 512px;
    max-width: 512px;
    max-height: 512px;
    min-width: inherit;
    min-height: inherit;
}
